
.block-item-div { 
 float: left;
 width: 40px;
 height: 40px;
 border: 1px solid #282c34;
 text-align: center;
  font-size: 24px;
  color: #282c34;
}

.error {
  background-color: rgb(224, 8, 8);
}

.block-item-input {
  margin-top: 0;
  border: none;
  width: 37px;
  text-align: center;
  font-size: 24px;
  color: #282c34;
  font-weight: bold;
  background-color: transparent;
}


.block-item-input :active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

