
.field-readme-div {
  width: 366px;
  height: 366px;
  margin-top: 2px;
  margin-bottom: 0.75rem;
  background-color: #606161;
  color: #cacbce;
}

.info-readme-div {
  width: 366px;
  height: 366px; 
}
