.field-contact-div {
  width: 362px;
  height: 362px;
  margin-top: 2px;
  margin-bottom: 0.75rem;
  background-color: #606161;
  color: #cacbce;
}

.btn-contact {
  float: left;
  margin-top: 45px;
  padding-left: 41px;
}

.btn-telegram {
margin: 0 50px 0 50px ;

}

.myName {
  margin-bottom: 0;
  align-items: center;
}

.myLogo {
  margin: 30px 0 30px 0;
}


@media (prefers-reduced-motion: no-preference) {
  .myLogo {
    animation: logo-spin infinite 5s linear;
  }
}

@keyframes logo-spin {
  100% {
    transform: rotateY(360deg);
  }
}
