.pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #24c280;
}

.btn-style {
  width: 105px;
  margin: 0  8px 15px 8px;
}

.title {
  float: left;
}

.loading {
  float: left;
}

.loadingRol {
  float: left;
  margin-top: 10px;
}

#stop {
  padding-top: 2px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

button:active, button:hover, button:focus {
  outline: 0;
  outline-offset: 0;

}